.article{
    height: 75vh;
    width:100%;
}
.article h1{
    color:black;
    font-size: 55px;
    letter-spacing: 1px;
    font-weight: 900;
    color: #303030;
    margin-left: 85px;
}
.pint{
    height: 120px;
    width:200px;
    margin-top: 20px;
    margin-left: 120px;
}
.article-1{
    height:450px;
    width:400px;
    
    margin-left: 350px;
    margin-top: -120px;
}
.rating-pic{
    margin-left: 53%;
    margin-top: -33.5%;
}
.article-1 h2, .article-2 h2{
    font-size: 23px;
    font-weight: 700;
    color:#4478e2;
}

.article-2{
    height:400px;
    width:450px;
    margin-left: 63%;
    margin-top: -8%;
}
.article-1 p,.article-2 p{
    color: grey;
    font-size: 18px;
}
.date i{
    color: grey;
}

.article button{
    margin-left: 100px;
    padding: 10px;
}