.digital-marketing h3{
    color:#005cb9;
    font-weight: 500;
}
.sem-list  li{
    padding: 5px;
    margin-top: 5px;
}
.sem-info h2{
    color:#005cb9;
    font-weight: 500;
}
.sem-ban{
    margin-top: 37%;
}
.sem-list-1 li{
font-size: 17px;
font-weight: 500;
padding: 7px;
}
.footer-sem{
margin-top: 38%;
}