.orange-banner{

    width:52%;
    height:25vh;
    margin: 25% 0 0 105px;
    background-color: orange;
}
.seo-2{
    margin: 22% 0 0 105px !important;
    
}
.considering-seo
{
    width:52%;
    margin-left: 105px;
    h3{
        color:#005cb9;
        font-weight: 500;
    }
    p{
        font-size: 17px;
        padding-top: 5px;
    }

}
.banner-seo-1{
    margin-top: 26%;}
    .seo-video-section{
        width:52%;
        margin-left: 105px;
        
    }
    .seo-video-section p{
        font-weight: 700;
    }
    .seo-services h2{
        color:#005cb9;
        font-weight: 700;
    }
    .seo-services ul{
        color:#005cb9;
        font-weight: 700;
        font-size: 20px;
        li{
            padding: 5px;
        }
    }
