.website-banner{
    margin-top:36%;
    height:17vh;
}
.website-info{
   
        width:52%;
        margin-left: 105px;
        height:65vh;
        p{
            font-size: 17px;
            padding-top: 10px;
        
        }
        h3{
            font-weight: 800;
            color:black;
        }
        ul li{
padding: 5px;
font-size: 17px;
        }
        
}
.website-banner-2{
    width:52%;
    height:20vh;
    margin: 12% 0 0 105px;
    background-color: orange;
    h2{
        color:white;
        font-style: italic;
        padding:  10px 0 0 20px;
    }
     p{
        padding:  10px 20px 0 20px;
        font-size: 15px;
    }
}